@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
// 'Kumbh Sans', sans-serif;
:root{
    --font-primary-400: hsl(14, 88%, 65%);
    --font-primary-900: hsl(238, 29%, 16%);
    --font-neutral-700: hsl(240, 6%, 50%);
    --font-neutral-800: hsl(237, 12%, 33%);
    --color-primary: hsl(273, 75%, 66%);
    --color-secondary: hsl(240, 73%, 65%);
    --color-divider: hsl(240, 5%, 91%);
    --font-family: 'Kumbh Sans', sans-serif; 
    --fw-regular : 400;
    --fw-bold : 700;
    --fs-primary: 0.75rem;
}